.Card {
    background-color: gray;
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 20px;
    box-shadow: 0 0 8px black;
    width: 400px;
    height: 400px;
    margin: 2em;
    padding-top: 5em;
    justify-content: center;
    vertical-align: center;
  }
  
  .info {
    margin: 25px;
  }
  
  .avatar {
    margin: 50px;
  }
  